.banner {
  background-color: color(gray, mercury);
  text-align: center;
  padding: 45px 0;

  @include media(">=desktop") {
    background: linear-gradient(180deg, color(gray, mercury) 65%, color(mono, white) 65%);
    // margin-bottom: 130px;
    padding-bottom: 70px;
    position: relative;
  }

  &__title {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0 30px;

    @include media(">=desktop") {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: fw("light");
    line-height: 1.4;
    padding: 0 30px;

    @include media(">=desktop") {
      font-size: 22px;
      margin: 0 auto 20px;
      max-width: 530px;
    }
  }

  &__footer {
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin-top: 30px;
    padding: 0 30px;

    .button {
      &:first-child {
        margin-bottom: 15px;
      }
    }

    @include media(">=375px") {
      display: flex;
      padding: 0;
      justify-content: center;

      .button {
        &:first-child {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }

    @include media(">=desktop") {
      align-items: center;
      display: flex;
      height: 220px;
      justify-content: space-between;
      margin: 30px auto 0;
      max-width: 1020px;
      padding: 0 30px;

      .button {
        font-size: 18px;
        padding: 20px 30px;
      }
    }
  }

  &__slider {
    display: none;

    @include media(">=desktop") {
      display: block;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 335px;
    }

    @include media(">=larger") {
      width: 435px;
    }
  }

  &__img {
    // width: 435px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 220px;

    @include media(">=desktop") {
      height: 170px;
    }

    @include media(">=larger") {
      height: 220px;
    }
  }
}