.banner {
  background-color: color(gray, mercury);
  text-align: center;
  padding: 45px 0;

  &__title {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0 30px;
  }

  &__text {
    font-size: 16px;
    font-weight: fw("light");
    line-height: 1.4;
    padding: 0 30px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    img {
      display: none;
    }

    .button {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}