.grid-filter {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 $grid-gutter;
	margin-bottom: 50px ;

	@include media(">=tablet") {
		padding: 0;
	}

	@include media(">=desktop") {
		align-items: inherit;
	}

	&__input {
		@extend .form__input;

		@include placeholder {
			font-weight: fw("bold");
			font-style: normal;
			text-transform: uppercase;
		}
		padding: 15px 20px;
		margin-bottom: 10px;
		font-weight: fw("bold");
		width: calc(50% - 5px);
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
			text-transform: none;
		}

		&:last-child {
			margin-right: 0;
		}

		@include media("<desktop") {
			&:nth-child(even) {
				margin-right: 10px;
			}
		}

		@include media(">=desktop") {
			margin-bottom: 0;
			margin-right: 15px;
			width: calc((100% / 5) - 45px);
		}

		@include media(">=larger") {
			width: calc((100% / 5) - 29px);
		}
	}

	&__search {
		font-style: normal;
		width: 100%;

		.form__input {
			padding-top: 15px;
			padding-bottom: 15px;

			@include placeholder {
				font-weight: fw("bold");
				font-style: normal;
			}
		}

		@include media(">=desktop") {
			// flex-grow: 1.2;
			margin-bottom: 0;
			margin-right: 25px;
			width: 295px;
		}
	}
}
