.form {
  width: 100%;

  &__control {
    margin-bottom: 10px;
    position: relative;

    @include media(">=larger") {
      margin-bottom: 15px;
    }

    &--icon {
      .input {
        padding-right: 60px;
      }

      button {
        background-color: transparent;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__input {
    @include placeholder {
      color: color(mono, black);
      font-style: italic;
      font-weight: fw("regular");
    }

    border: 1px solid color(mono, black);
    border-radius: 8px;
    background-color: transparent;
    color: color(mono, black);
    font-size: 12px;
    font-weight: fw("light");
    padding: 8px 9px;
    width: 100%;

    @include media(">=larger") {
      font-size: 22px;
      padding: 18px 20px;
    }

    @at-root {
      textarea#{&} {
        resize: none;
        height: 125px;

        @include media(">=larger") {
          height: 170px;
        }
      }

      select#{&} {
        background: right 10px center / 16px no-repeat url(../img/sort-down.svg)
          transparent;
        color: color(mono, black);
        font-style: italic;
        font-weight: fw("regular");
        padding-right: 30px;
      }
    }

    &--small {
      padding: 10px 15px;
    }

    &--white {
      @include placeholder {
        color: color(mono, black);
        font-style: italic;
      }

      background-color: color(mono, white);
      color: color(mono, black);
      // border: 1px solid color(brown, old-copper);
    }
  }

  &__footer {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;

    .checkbox {
      align-self: center;
      margin-bottom: 30px;

      @include media(">=tablet") {
        margin-bottom: 0;
      }
    }

    .button {
      width: 100%;

      @include media(">=tablet") {
        width: auto;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: fw("light");
    margin-bottom: 30px;
  }

  &__submit {
    text-align: right;

    .button {
      padding: 12px 40px;
    }
  }

  $checkbox-bg-color-checked: transparent;
  $checkbox-border-color-checked: $checkbox-bg-color-checked;
  $checkbox-bg-color-unchecked: transparent;
  $checkbox-border-color-unchecked: color(mono, black);

  $radio-checked-color: $checkbox-bg-color-checked;
  $radio-unchecked-color: $checkbox-border-color-unchecked;

  .form__checkbox {
    display: none;

    @mixin checkbox-structure(
      $width: 22px,
      $height: 22px,
      $top: 4px,
      $left: "",
      $border-color: "",
      $background-color: ""
    ) {
      content: "";
      height: $height;
      position: absolute;
      border-radius: 50%;
      top: $top;
      width: $width;

      @if $border-color!= "" {
        border: 1px solid $border-color;
      }

      @if $background-color!= "" {
        background-color: $background-color;
      }

      transition: 0.2s;

      @include media(">=tablet") {
        height: 44px;
        width: 44px;
        top: -8px;
      }
    }

    &:not(:checked) + label::before {
      @include checkbox-structure(
        $border-color: color(mono, black),
        $background-color: $checkbox-bg-color-unchecked
      );

      left: 0;
    }

    &:checked + label {
      &::before {
        @include checkbox-structure(
          $border-color: color(mono, black),
          $background-color: $checkbox-bg-color-checked
        );

        left: 0;
      }

      &::after {
        @include checkbox-structure($width: 0, $height: 0);
        animation: fade-in 0.25s;
        color: color(orange, flamingo);
        content: "\2713";
        font-size: 16px;
        left: 5px;
        top: 3px;

        @include media(">=tablet") {
          font-size: 26px;
          left: 12px;
          top: 0;
        }
      }
    }

    // &--dark {
    //   &:not(:checked) + label::before {
    //     @include checkbox-structure($border-color: color(brown, old-copper), $background-color: $checkbox-bg-color-unchecked);
    //   }

    //   &:checked + label {
    //     &::before {
    //       @include checkbox-structure($border-color: color(brown, old-copper), $background-color: $checkbox-bg-color-checked);
    //       left: 0;
    //     }

    //     &::after {
    //       @include checkbox-structure($width: 0, $height: 0);

    //       color: color(brown, old-copper);
    //       content: "\2713";
    //       top: -2px;
    //     }
    //   }
    // }
  }

  .form__checkbox,
  .form__radio {
    + label {
      color: color(mono, black);
      cursor: pointer;
      font-size: 16px;
      font-weight: fw("light");
      padding-left: 30px;
      position: relative;
      padding-right: 15px;
      display: block;
      word-break: break-word;

      @include media(">=tablet") {
        padding-left: 60px;
      }

      @include media(">=larger") {
        font-size: 20px;
      }
    }
  }

  .form__checkbox {
    &--dark {
      + label {
        color: color(mono, black);
      }
    }
  }

  .form__radio {
    display: none;

    @mixin radio-structure($color) {
      border: 2px solid $color;
      border-radius: 50%;
      content: "";
      height: 15px;
      left: 0;
      position: absolute;
      top: -4px;
      width: 15px;
    }

    &:not(:checked) + label::before {
      @include radio-structure($radio-unchecked-color);
    }

    &:checked + label {
      &::before {
        @include radio-structure($radio-checked-color);
      }

      &::after {
        @include radio-structure($radio-checked-color);

        background-color: $radio-checked-color;
        transform: scale(0.4);
        animation: fade-in 0.5s;
      }
    }

    &--dark {
      + label {
        color: color(mono, black);
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
