.menu {
  text-align: center;

  &__item {
    margin-bottom: 30px;

    > a {
      color: color(gray, mine-shaft);
      font-family: $font-title;
      font-size: 20px;
      font-weight: fw("regular");
      text-transform: uppercase;
      transition: color .25s ease-in-out;
    }

    &:hover {
      .menu__link {
        color: color(orange, flamingo);
      }
    }
  }
}