.section {
  padding: 55px 0;

  @include media(">=desktop") {
    padding: 100px 0;
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    font-family: $font-title;

    @include media(">=desktop") {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }

  &__text {
    font-weight: fw("light");
    line-height: 1.36;
    text-align: center;

    @include media(">=desktop") {
      font-size: 22px;
      text-align: left;
    }
  }

  &--gray {
    background-color: color(gray, mercury);
  }

  &--small {
    padding: 25px 0;

    @include media(">=desktop") {
      padding: 70px 0;
    }
  }

  &--text-center {
    .section__title,
    .section__text {
      text-align: center;
    }
  }
}

.time {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: calc(50% - 10px);

    @include media(">=tablet") {
      height: 260px
    }

    @include media(">=desktop") {
      height: 390px;
    }

    &:first-child {
      height: 220px;
      margin-bottom: 20px;
      width: 100%;

      @include media(">=tablet") {
        height: 400px
      }

      @include media(">=desktop") {
        height: 700px;
      }
    }

    &:last-child {
      margin-left: 20px;
    }
  }
}