.social {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 24px;
      // width: 24px;
    }
  }
}