@import 'vendors/all';
@import 'variables/all';
@import 'abstracts/all';
@import 'base/all';
@import 'components/all';

html, body {
  font-family: $font-text;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {

  &-content{
    flex: 1;
    @extend .container;
    padding: 0;
    position: relative;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.diferencial {
  @include media(">=desktop") {
    background: right center / auto no-repeat url("../img/quem-somos.jpg") color(gray, gallery);
  }
}

.footer {

}