@import 'vendors/all';
@import 'variables/all';
@import 'abstracts/all';
@import 'base/all';
@import 'components/all';

html, body {
  font-family: $font-text;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.page {

  &-content{
    flex: 1;
    // @extend .container;
    padding: 0;
    position: relative;
    margin-top: 87px;

    @include media(">=desktop") {
      margin-top: 150px;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__header {
    background-color: color(gray, mercury);
    padding: 35px 0;
    margin-bottom: 25px;

    @include media(">=desktop") {
      margin-bottom: 45px;
    }

    h1  {
      font-size: 26px;
      font-weight: fw("bold");
      line-height: 1.4;
      text-align: center;
      text-transform: uppercase;
      margin: 0;

      @include media(">=desktop") {
        font-size: 32px;
      }
    }
  }
}

.diferencial {
  @include media(">=desktop") {
    background: right center / auto no-repeat url("../img/quem-somos.jpg") color(gray, mercury);
  }
}

.estoque {
  padding-top: 15px;

  > .container {
    padding: 0;

    @include media(">=tablet") {
      padding: 0 15px;
    }
  }
}

.oportunidades {
  padding-bottom: 0;

  @include media(">=desktop") {
    padding-bottom: 100px;
  }

  > .container {
    padding: 0;

    @include media(">=tablet") {
      padding: 0 15px;
    }
  }

  &-slider {
    .car__img {
      @include media(">=desktop") {
        border-radius: 10px;
        height: 580px;
      }
    }

    .car__detail {
      @include media(">=desktop") {
        bottom: 100px;
        padding: 20px 25px;
        max-width: 435px;

        p {
          font-size: 22px;
        }
      }

    }

    &__arrow {
      background: transparent;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      z-index: z("absolute");

      @include media(">=tablet") {
        height: 42px;
        width: 30px;
      }

      @include media(">=desktop") {
        height: 62px;
        width: 30px;
      }

      &--prev {
        background: center / contain no-repeat url("../img/arrow-left.png");

        @include media(">=tablet") {
          left: -35px;
        }

        @include media(">=larger") {
          left: -65px;
        }
      }

      &--next {
        background: center / contain no-repeat url("../img/arrow-right.png");

        @include media(">=tablet") {
          right: -35px;
        }

        @include media(">=larger") {
          right: -65px;
        }
      }
    }
  }
}

.venda {
  @include media(">=desktop") {
    background: 40px bottom / 480px no-repeat url("../img/menina.jpg") color(gray, mercury);
  }

  @include media(">=larger") {
    // background: 100px bottom / 540px no-repeat url("../img/menina.jpg") color(gray, mercury);

    background-position: 110px bottom;
    background-size: 520px;
  }

  @include media(">=1700px") {
    background-position: 25% bottom;
  }

  &__content {
    padding-top: 50px;
  }

  &__footer {
    display: flex;
    justify-content: center;

    @include media(">=desktop") {
      justify-content: flex-start;
      margin-left: 550px;
    }

    @include media(">=larger") {
      margin-left: 640px;
    }
  }

  .section__title,
  .section__text {
    @include media(">=desktop") {
      text-align: left;
    }
  }

  .section__text {
    @include media(">=desktop") {
      max-width: 740px;
    }
  }

  .media {
    @include media(">=desktop") {
      &:nth-child(1) {
        margin-left: 200px;
      }

      &:nth-child(2) {
        margin-left: 330px;
      }

      &:nth-child(3) {
        margin-left: 470px;
      }
    }
  }

  .button {
    @include media(">=desktop") {
      padding: 20px 80px;
      font-size: 18px;
    }
  }
}

.marcas {
  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;

    @include media(">=desktop") {
      padding-top: 85px;
    }

    img {
      display: block;
      margin: 0 auto 50px;
      width: 54px;

      @include media(">=desktop") {
        margin-bottom: 90px;
        width: 90px;
      }
    }
  }

  &__item {
    width: 33%;

    @include media(">=desktop") {
      width: 20%;
    }
  }
}

.instagram {
  background: linear-gradient(180deg, color(mono, white) 50%, color(gray, mercury) 50%);
  padding: 0;

  @include media(">=desktop") {
    background: linear-gradient(180deg, color(mono, white) 60%, color(gray, mercury) 60%);
    display: block;
    padding: 55px 0;
  }

  .section__title {
    display: none;

    @include media(">=desktop") {
      display: block;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;

    @include media(">=desktop") {
      display: none;
    }
  }
}

.sobre {
  &__items {
    padding-top: 60px;

    @include media(">=desktop") {
      padding-top: 115px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

    &--right {
      flex-direction: row-reverse;
      text-align: right;

      .sobre__content {

        @include media(">=desktop") {
          padding-right: 40px;
        }
      }
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;

    @include media(">=tablet") {
      height: 350px;
      max-width: 390px;
      flex: .6;
    }
  }

  &__content {
    padding: 25px 0 0 0;

    @include media(">=tablet") {
      padding: 0;
      flex: 1;
    }

    @include media(">=desktop") {
      padding-left: 40px;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 22px;
    font-weight: fw("bold");
    margin-bottom: 15px;
    text-transform: uppercase;

    @include media(">=desktop") {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: fw("light");
    line-height: 1.63;

    @include media(">=desktop") {
      font-size: 22px;
    }
  }
}